.container 
  .row.mt-5
    h1 概览
    small 一些简单的信息
  .row.my-3
    strong 欢迎使用Meowdream Hub
  .row 
    .col-md-4
      h3 用户名
      p #{nickname}
    .col-md-8 
      h3 邮箱
      p #{mail}
  .row 
    h3 限额
    p 0.00 / Unlimited